In [1]:
import pandas as pdv
import seaborn as sns
import numpy as nm
df = pdv.read_csv("crops.csv").fillna(0)
df.head()

,County/Sub County,Total,Farming,Crop Production,Livestock Production,Aquaculture,Fishing,Irrigation,Maize,Sorghum,...,Camels,Donkeys,Pigs,Indigenous Chicken,Exotic Chicken Layers,Exotic Chicken Broilers,Beehives,Rabbits,Fish Ponds,Fish Cages
0,KENYA,12143913,6354211.0,5555974,4729288,29325,109640,369679,5104967.0,904945.0,...,167666.0,500682,110383.0,3337700,194517,79461,201406,124122,22019.0,3361.0
1,MOMBASA,378422,12497.0,7218,8749,128,1409,958,5681.0,0.0,...,6.0,36,134.0,6142,743,998,68,186,83.0,24.0
2,CHANGAMWE,46614,618.0,230,476,6,62,36,108.0,0.0,...,0.0,1,7.0,350,53,78,1,14,6.0,0.0
3,JOMVU,53472,2418.0,1168,1810,12,132,209,895.0,0.0,...,0.0,11,37.0,1296,157,199,6,30,8.0,3.0
4,KISAUNI,88202,6257.0,4043,4269,67,492,402,3456.0,0.0,...,4.0,8,76.0,3016,280,411,41,79,37.0,11.0

In [3]:
df.describe(include='object')

       County/Sub County
count                393
unique               376
top     MT. KENYA FOREST
freq                   5

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline